.App {
  text-align: center;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  color: #fff;
}

.search {
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: #000345;
  max-width: 500px;
  justify-content: space-between;
  color: #fff;
  fill: #fff;
  border-radius: 25px;
  box-shadow: 0 5px 13px -7px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 13px -7px #000643, 0 5px 13px -7px 000643;
  padding: 15px 20px;
}

.search input {
  flex: 1;
  margin-right: 8px;
  outline: 0;
  border: 0;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
}

.search img {
  color: #fff;
  fill: #ccc;
  cursor: pointer;
}

::placeholder {
  color: #ccc;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 5%;
}

.movie {
  background-color: #3e3d3d;
  width: 300px;
  height: 400px;
  text-align: center;
  border-radius: 10px;
  margin: 20px;
  position: relative;
  box-shadow: 0 15px 30px -7px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
  overflow: hidden;
}

.poster {
  max-width: 300px;
}

.movie:hover {
  transform: scale(1.1, 1.1);
}

.empty {
  background-color: #000345;
  color: #fff;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5x;
  border-radius: 10px;
  box-shadow: 0 0 10px -8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 375px) {
  .search {
    width: 250px;
  }
}
